@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  color: #000;
}
/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.container {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
}
.wrap > section {
  padding: 80px 0;
}
/* 타이틀레이아웃 */
.season-title {
  position: relative;
  display: block;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  font-size: 400;
}
.season-title b {
  font-weight: 700;
}
..season-title .blue {
  color: #76bd42;
}
/* 제품레이아웃 */
/* 섹션레이아웃 */
/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
/* 상단 */
.header {
  position: relative;
  display: block;
  z-index: 9999;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.header-top {
  position: relative;
  display: block;
  padding-top: 30px;
}
.header-top-left {
  position: relative;
  display: block;
  float: left;
  font-size: 0px;
  letter-spacing: 0px;
}
.logo {
  position: relative;
  display: inline-block;
  margin-right: 18px;
}
.bt-schedule {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #666;
  border: 0px;
  background: transparent;
  cursor: pointer;
  vertical-align: -3px;
}
.bt-schedule img {
  vertical-align: -3px;
}
.header-top-right {
  position: relative;
  display: block;
  float: right;
  padding-top: 3px;
}
.track {
  position: relative;
  display: inline-block;
}
.member-list {
  position: relative;
  display: inline-block;
  vertical-align: -9px;
}
.member-list > li {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
}
.member-list > li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 7px;
  width: 1px;
  height: 8px;
  background: #666;
}
.member-list > li:last-child {
  padding-right: 0;
}
.member-list > li:last-child::after {
  content: none;
}
.member-list > li > a {
  position: relative;
  display: block;
  font-size: 13px;
  color: #666;
}
.center-more {
  padding-right: 15px;
}
.center-more::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  display: block;
  width: 10px;
  height: 6px;
  background: url("../images/icoMyMenu.png") no-repeat;
  background-position: 0px 0px;
}
.center-more:hover::after {
  background-position: 0px -6px;
}
.center-list {
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  z-index: 1;
}
.center-list > li {
  position: relative;
  display: block;
}
.center-list > li > a {
  position: relative;
  display: block;
  color: #666;
  font-size: 13px;
  white-space: nowrap;
}
.header-main {
  position: relative;
  display: block;
  padding: 13px 0;
}
.header-main-left {
  position: relative;
  display: block;
  float: left;
}
.nav {
  position: relative;
  display: inline-block;
  padding-top: 12px;
  margin-right: 45px;
}
.gnb {
  position: relative;
  display: inline-block;
}
.gnb > li {
  position: relative;
  display: block;
  float: left;
  margin-right: 30px;
}
.gnb > :last-child {
  margin-right: 0;
}
.gnb > li > a {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  line-height: 19px;
}
.gnb > li > a:hover {
  color: #76bd42;
}
.ball::after {
  content: "";
  position: absolute;
  right: -7px;
  top: 0px;
  width: 5px;
  height: 5px;
  background: #f9933f;
  border-radius: 50%;
}
.all-bt {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  background: transparent;
  line-height: 19px;

  cursor: pointer;
}
.all-bt i {
  display: inline-block;
  margin-right: 12px;
}
.join-bt {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  border: 0;
  background: transparent;
  line-height: 19px;
  cursor: pointer;
}
.join-bt:hover {
  color: #76bd42;
}
.join-bt-icon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 8px;
  background: url("../images/icoGnbArr2.png") no-repeat;
  background-position: 0px 0px;
  vertical-align: 2px;
  margin-left: 2px;
}
.join-bt:hover .join-bt-icon {
  background-position: 0px -8px;
}
.join-list,
.more-menr-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 42px;
  display: block;
  padding: 20px;
  background: #fff;
  border: 1px solid#ddd;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
}
.join-list > li,
.more-menr-list > li {
  position: relative;
  display: block;
  padding: 7px 0;
}

.join-list > li > a,
.more-menr-list > li > a {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #666;
  white-space: nowrap;
  line-height: 19px;

  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.join-list > li > a:hover,
.more-menr-list > li > a:hover {
  font-weight: 600;
  color: #666;
  border-bottom: 2px solid #000;
}

.more-menu {
  position: relative;
  display: inline-block;
}
.more-menu-bt {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #666;
  border: 0;
  background: transparent;
  line-height: 19px;
  vertical-align: 5px;
  cursor: pointer;
}
.more-menu-icon {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url("../images/icoGnbArr3.png") no-repeat;
  background-position: 0px 0px;
  margin-left: 3px;
  vertical-align: 2px;
}
.more-menu-bt:hover {
  color: #76bd42;
}
.more-menu-bt:hover .more-menu-icon {
  background-position: 0px -6px;
}
.header-main-right {
  position: relative;
  display: block;
  float: right;
}
.search-form {
  position: relative;
  display: block;
  float: left;
}
.search-txt {
  position: relative;
  display: block;
  width: 320px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 45px;
  border: 1px solid #f7f7f7;
  line-height: 40px;
  font-size: 13px;
}
.search-txt:focus {
  background: #fff;
  boder: 1px solid #76bd42;
  color: #000;
}
.search-bt {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  border: 0;
  width: 18px;
  height: 18px;
  background: url("../images/btnSearch.png") no-repeat;
  cursor: pointer;
  font-size: 0;
  float: left;
}
.bucket {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/btnCart.png") no-repeat;
  font-size: 0;
  float: left;
  margin-top: 6px;
  margin-left: 25px;
}
.bucket-count {
  position: absolute;
  right: -4px;
  top: -1px;
  display: block;
  width: 18px;
  height: 18px;
  color: #fff;
  line-height: 18px;
  background: #76bd42;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
}
/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 410px;
  overflow-y: hidden;
  padding: 0 !important;
}
.visual-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.visual-slide-page {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.visual-slide-page a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.visual-prev,
.visual-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  border: 0;
  cursor: pointer;
  width: 64px;
  height: 64px;
  font-size: 0;
  border-radius: 50%;
}
.visual-prev {
  left: calc(50% - 600px);
  background: rgba(0, 0, 0, 0) url("../images/visualArrP.png") no-repeat;
  background-position: 0 -64px;
}
.visual-prev:hover {
  background: rgba(0, 0, 0, 0.3) url("../images/visualArrP.png") no-repeat;
  background-position: 0 -64px;
}
.visual-next {
  right: calc(50% - 600px);
  background: rgba(0, 0, 0, 0) url("../images/visualArrN.png") no-repeat;
  background-position: 0 -64px;
}
.visual-next:hover {
  background: rgba(0, 0, 0, 0.3) url("../images/visualArrP.png") no-repeat;
  background-position: 0 -64px;
}
.visual-control {
  position: absolute;
  bottom: 43px;
  left: calc(50% - 540px);
  display: block;
}
.visual-play {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/visualPlay.png") no-repeat;
  cursor: pointer;
  float: left;
  border: 0;
}
.visual-pg {
  position: relative;
  display: block;
  width: 52px;
  height: 30px;
  background: url("../images/visualNum.png") no-repeat;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 14px;
  margin-left: 5px;
  float: left;
}
.visual-more {
  position: relative;
  display: block;
  width: 29px;
  height: 30px;
  background: url("../images/visualMore.png") no-repeat;
  text-align: center;
  cursor: pointer;
  border: 0;
  margin-left: 3px;
  float: left;
}
/* 오늘의 상품 */
.today {
  position: relative;
  display: block;
}
/* 알뜰상품 */
.sale {
  position: relative;
  display: block;
}
/*  신상품*/
.new {
  position: relative;
  display: block;
}
/* 추천물품 */
.recommend {
  position: relative;
  display: block;
}
/* 인기물품 */
.popular {
  position: relative;
  display: block;
}
/* 브랜드관 */
.brand {
  position: relative;
  display: block;
}
/*배너  */
.banner {
  position: relative;
  display: block;
}
/* 재철요리 */
.season {
  position: relative;
  display: block;
}
/* 이용후기 */
.review {
  position: relative;
  display: block;
}
/* 커뮤니티 */
.community {
  position: relative;
  display: block;
}
/* 하단 */
.footer {
  position: relative;
  display: block;
}
